<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/image/download.png" width="100%">
            </div>
            <div class="col-md-6">
                <h2>Login</h2>
                <form action="/login" method="post">

                    <div class="form-group">
                        <label for="mobile_no">mobile no:</label>
                        <input type="text" class="form-control" id="mobile_no" placeholder="Enter Your Mobile Number"
                            name="mobile_no">
                    </div>
     
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter Your password"
                            name="password">
                    </div>


                    <div class="form-group form-check">
                        <label class="form-check-label">
                          <a href="/register"> Register
                            </a>

                        </label>
                      </div>
        
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
            
        </div>
       
    </div>

</body>

</html>